.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.link {
  height: 35px;
  width: 100px;
  font-weight: bold;
  font-size: medium;
  letter-spacing: 0.5px;
  color: #fafafa;
  background-color: #444;
  border: 1px solid #444;
  border-radius: 3px;
  cursor: pointer;
}

.link:hover {
    background-color: #737373;
}
