.repositories {
    display: flex;
    text-decoration: none;
    color: #444;
    background-color: #fafafa;
    margin: 10px;
    width: 40rem;
    justify-content: space-between;
}
.text {
    margin-left: 10px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 5px;
    font-size: small;
    justify-content: space-evenly;
}

.numbers {
    margin: 0;
    padding: 3px 8px;
}

.card {
    display: flex;
    align-items: center;
}

.addFavorite {
    height: 40px;
    background-color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1.2em;
}

.addFavorite:hover {
    font-size: 1.7em;
    height: 43px;
    transition: 0.3s;
}

.addedFavorite {
    height: 40px;
    background-color: rgb(78, 78, 78);
    cursor: pointer;
    border-radius: 3px;
    font-size: 1.2em;
}